* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana;
    font-size: 14px;
}

.container {
    width: 1040px;
    margin: 0 auto;
}

a {
    text-decoration: none;

}

h1,
h2,
h3 {
    font-family: "Courier New";
}

h4 {
    display: none;
}

header {
    background-color: #141024;
    padding-bottom: 179px;
    color: #ffffff;
}

.adv {
    display: flex;
    background-color: #f9f8f8;
    color: #070000;
}

.content {
    background-color: #ffffff;
}

footer {
    background-color: #131313;

}

.nav-container {
    display: flex;
    padding-top: 54px;
    margin-bottom: 113px;
    /* justify-content: space-between; */
}

nav {
    flex-grow: 1;
    margin-left: 62px;
}




nav a {
    color: #d4d4d4;
    text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}





.nav-container ul {
    display: flex;
    list-style: none;
    padding-top: 31px;
}

.nav-container>ul>li {
    margin-left: 24px;
}

nav>ul>li {
    margin-right: 30px;
}

h1 {
    color: #ffffff;
    font-size: 44px;
    font-weight: bold;
}

.header-content {
    margin-left: 126px;
    width: 254px;

}

.header-content>p {
    margin-top: 32px;
    margin-bottom: 54px;
}

.info {
    padding-top: 187px;
    padding-bottom: 79px;
    justify-content: space-between;
    display: flex;
    list-style: none;
}


.info ul>li {
    width: 170;
}

header>.container {
    position: relative;
}

header>.container::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/logo.png");
    right: 0;
    top: 140px;
    width: 438px;
    height: 438px;

}

.nav-container>ul>li:first-child>a::before {
    content: "";
    display: inline-block;
    background-image: url("../img/mail-icon.png");
    width: 17px;
    height: 12px;
}

.nav-container>ul>li:last-child>a::before {
    content: "";
    display: inline-block;
    background-image: url("../img/phone.png");
    width: 17px;
    height: 17px;
}


/* .header-content>a {
    text-transform: uppercase;
    background-color: red;
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
    position: relative;
}
 */

.info li {
    position: relative;

}

.info li::before {
    content: "";
    width: 60px;
    height: 68px;
    position: absolute;
    display: block;
    top: -102px;
    ;
}

.info li:nth-child(1)::before {
    background-image: url("../img/advantage-icon-1 1.png");
}

.info li:nth-child(2)::before {
    background-image: url("../img/advantage-icon-2 1.png");
}

.info li:nth-child(3)::before {
    background-image: url("../img/advantage-icon-3 1.png");
}

.info li:nth-child(4)::before {
    background-image: url("../img/advantage-icon-4 1.png");
}

.content>.container>div {
    display: flex;
    justify-content: space-between;
}

.content>.container>div:first-of-type>div:last-child {
    width: 443px;
}

.content>.container>div:last-of-type>div:first-child {
    width: 455px;
}

.content>.container>div:last-of-type>div:last-child {
    width: 401px;
}

.content {
    padding: 80px 0 126px 0;
}

.content h3 {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 27px;
}

.content h3~ul>li {
    position: relative;
    margin-bottom: 28px;
    padding-left: 28px;
}

.content h3:first-of-type {
    padding-bottom: 44px;
    padding-top: 5px;
}


.point_style ul {
    list-style: none;
}


.point_style li::after {
    top: 8px;
    left:0px;
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #ffcb06;
}

.header-content a {
    display: inline-block;
    text-transform: uppercase;
    background-color: red;
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: bold;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 54px;
  margin-bottom: 113px;
  position: relative;
}

/* Скрываем стандартные списки */
.nav-container > ul,
.nav-container nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Первый ul — это nav > ul (меню) — центрируем его */
.nav-container nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.nav-container nav ul {
  display: flex;
  gap: 30px;
}

.nav-container nav a {
  color: #d4d4d4;
  text-decoration: none;
  font-size: 16px;
}

.nav-container > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}



.nav-container > ul li:first-child a {
  
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.nav-container > ul li:last-child a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
